@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>

<div class="shake">
    <i class="bi-alarm"></i>
</div>
